<!--<h2>Create a Free Client Account</h2>-->

<div class="col-lg-2  text-left">
</div>

<div class="col-lg-8  text-left" id="new_regitration">
  <div class="o-signup-form-labels eo-tabset">
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item <%=  %>" >
        <%= link_to 'Student SingUp', signup_as_path(singup_as: 'student' ), id: 'student' %>
      </li>
      <li class="nav-item %>">
        <%= link_to 'Company SignUp', signup_as_path(singup_as: 'company'),  id: 'company' %>
      </li>
    </ul>
  </div>
  <div id="registration-form" role="presentation" >
    <%= render 'devise/shared/student_signup_form' %>
    <%= render 'devise/shared/links' %>
  </div>
</div>

<script>
  $("#student").on('click',function(){
//    $("#student").parent().toggleClass('active');
//    $("#student").parent().siblings().removeClass('active');

  });
  $("#company").on('click',function(){
//    $("#company").parent().toggleClass('active');
//    $("#company").parent().siblings().removeClass('active');
  });
</script>