<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
  <div class="form-group">
    <% if @recipient %>
      <%= f.select(:recipients, User.all.collect {|p| [ p.name, p.id ] },
                   {selected: @recipient.id},
                   { multiple: true , :style => 'visibility: hidden'})%>
    <% else %>
      <%= f.label :recipients %>
      <%= f.select(:recipients, User.all.collect {|p| [ p.name, p.id ] }, {}, { multiple: true , class: "form-control" })%>
    <% end %>
  </div>
  <div class="form-group">
    <% if @recipient %>
      <%= f.text_field :subject, value: 'Student apply for a position', :style => 'visibility: hidden' %>
    <% else %>
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <% if @recipient %>
      <%= f.text_area :body, class: 'form-control', value: 'Morning, I would like to apply to this position', rows: 4  %>
    <% else %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    <% end %>
  </div>
  <% if @recipient %>
    <%= f.submit "Apply", class: "btn btn-success" %>
  <% else %>
    <%= f.submit "Send Message", class: "btn btn-success" %>
  <% end %>
<% end %>
