<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user_id %>
</p>

<hr>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', :back %>
| <%= link_to 'Get PDF file', portfolio_path(format: :pdf )%>
