<h2>
  <%= @portfolio.title %>
</h2>

<% if current_user.is_student? %>
  <%= link_to 'Get PDF',  portfolios_path(format: :pdf ), class: 'btn btn-primary' %>
<% end %>

<hr>

<p>
  <%= @portfolio.description %>
</p>

<p>
  <strong>
    Required Skills
  </strong>
</p>
<p>
  <%= get_portfolio_skills(@portfolio.project) %>
</p>

<hr>

<%= link_to 'Back', :back %>
