<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user_id %>
</p>

<hr>

Accuracy  : <%= rating_for @portfolio, 'accuracy', star: 5 %>
Quality : <%= rating_for @portfolio, 'quality_of_coding', star: 5  %>
Communication  : <%= rating_for @portfolio, 'communication', star: 5  %>
Timing  : <%= rating_for @portfolio, 'timing' %>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', :back %>
| <%= link_to 'Get PDF file', portfolio_path(format: :pdf )%>
