<% if show_accept_students? %>
  <div>
    <%= link_to 'Back', @project %>
    <%= link_to 'Accept this student', accept_student_path(p_id: @project.id, u_id: @user.id), class: 'btn btn-info' %>
  </div>
<% else %>
  <%= link_to 'Back', students_path %>
<% end %>

<br/>

<% if @user.avatar.present? %>
  <%= image_tag(@user.avatar.url(:medium), class:'img-responsive')%>
<% else %>
  <img class="img-responsive" src="http://placehold.it/750x450" alt="">
<% end %>
<h3>
  <%= @user.name + " " + @user.lastname %>
</h3>
<p>
  <strong>
    Skills
  </strong>
</p>
<p>
  <%= get_skills(@user) %>
</p>

<hr>

Accuracy <%= rating_for @user, 'accuracy', disable_after_rate: true %>
Quality <%= rating_for @user, 'quality_of_coding', disable_after_rate: true %>
Communication <%= rating_for @user, 'communication', disable_after_rate: true%>
Timing <%= rating_for @user, 'timing', disable_after_rate: true%>

<hr>
<% if @user.portfolios.present? %>
  <% portfolios = @user.portfolios.paginate(page: params[:page], per_page: 9) %>
  <h2>Student portfolio</h2>
  <br/>
  <div class="row">
    <% portfolios.each do |portfolio| %>
      <div class="col-md-4 portfolio-item">
        <h3>
          <%= link_to portfolio.title, portfolio %>
        </h3>
        <p>
          <%= portfolio.description %>
        </p>
      </div>
    <% end %>
  </div>
  <hr>
  <%= will_paginate portfolios %>
<% end %>

<% if can_rate? @user.id %>
  <script>
    $(document).on('turbolinks:load', function(){
      $(".star").each(function() {
        $(this).raty('set', {readOnly: true});
      });
    });
  </script>
<% end %>
