<h2>Projects</h2>

<hr>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-4 portfolio-item">
      <% if project.image.present? %>
        <%= image_tag project.image.url(:thumb), class:'img-responsive' %>
      <% else %>
        <%= image_tag 'no-image-found', class:'img-responsive' %>

      <% end %>
      <h3>
        <%= link_to project.title, project %>
      </h3>
      <% if current_user.is_student? %>
        <p>
          <strong>Company: </strong>
          <%= project.user.name %>
        </p>
      <% end %>
      <p>
        <strong>Required skills: </strong>
        <%= project_skills(project) %>
      </p>
    </div>
  <% end %>
</div>

<hr>
<%= will_paginate @projects %>