<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Required skills:</strong>
</p>

<% project_skills(@project.id).each do |skill| %>
  <p>
    <%= skill.description %>
  </p>
<% end %>

<br/>
<% if @project.image.present? %>
  <%= image_tag @project.image.url(:thumb) %>
<% end %>
<br/>

<% if current_user.is_student? %>
  <%= link_to 'Apply', apply_path(p_id: @project) %> |
<% else %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>

<%= link_to 'Back', projects_path %>

<br/>
<hr/>
<% if @project.user_id == current_user.id && @project.interested_students.present? %>
  <h2>Interested students</h2>
  <br/>

  <%= render "users/users_view", users: interested_students(@project.interested_students), project: @project %>

<% end %>

