<h2>Students</h2>

<%= form_tag(searches_path) do %>

  <%= label_tag '',  'Name', class: 'search-label-fields' %>
  <%= text_field_tag :name, '', class: 'search-text-fields' %>

  <%= label_tag '',  'Lastname', class: 'search-label-fields' %>
  <%= text_field_tag :lastname, '', class: 'search-text-fields' %>
  <br/>
  <br/>
  <%= label_tag '', 'Email', class: 'search-label-fields' %>
  <%= text_field_tag :email, '', class: 'search-text-fields' %>

  <hr/>
  <strong>Skills: </strong>
  <div>
    <%= collection_check_boxes :skill,
                               :ids,
                               get_skills_for_search,
                               :id,
                               :description,
                               {multiple: true} %>
  </div>
  <br/>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <br/>
<% end %>
